<?xml version='1.0' encoding='utf-8'?>
<widget id="com.albencheung.campusquest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CampusQuest</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="alben.cheung@gmail.com" href="http://cordova.io">
        Alben Cheung
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
</widget>
